body{
    margin: 0%;
}

.main_container{
    width: 100%;
    position: absolute;
    top: 53px;
    background-color: rgb(255, 246, 235);
    font-family: Arial, Helvetica, sans-serif;
}

.profile{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 30px;
    background-color: rgba(6, 207, 130, 0.2);
    border-radius: 10px;
}

.cover{
    width: 100%;
    height: 240px;
    display: flex;
    background-color: rgba(128, 128, 128, 0.7);
}

.pic{
    width: 260px;
    height: 100%;
}

#image{
    width: 100%;
    height: 80%;
}

#change{
    display: flex;
    width: 100%;
    height: 20%;
    background-color: rgba(240, 248, 255, 0.7);
    text-decoration: none;
    color: gray;
    font-size: 18px;
    align-items:center;
    justify-content: center;
}

#change:hover{
    background-color: rgba(240, 248, 255, 0.9);
}

.info{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 15px;
}

.info h2{
    height: 10%;
    margin: 0px;
    font-size: 40px;
    font-weight: normal;
}

.other{
    height: 85%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#edit{
    display: flex;
    height: 15%;
    width: 15%;
    font-size: 100%;
    background-color: rgba(240, 248, 255, 0.7);
    text-decoration: none;
    color: gray;
    justify-content: center;
    align-items: center;
}

#edit:hover{
    background-color: rgba(240, 248, 255, 0.9);
}

.load{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#more{
    width: 90%;
    background-color: rgba(6, 207, 130, 0.2);
    font-size: 16px;
    text-align: center;
    padding-block-start: 10px;
    padding-block-end: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 18px;
    cursor: pointer;
    border-radius: 5px;
    justify-content: center;
}

#more:hover{
    background-color: rgba(6, 207, 130, 0.5);
}