.story{
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(6, 150, 207, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.storycover{
    display: flex;
}

.storycover img{
    width: 40px;
    height: 40px;
}

#storyedit{
    margin-left: auto;
    width: 40px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: rgba(128, 128, 128, 0.4);
    margin-bottom: 10px;
}

#storyedit:hover{
    background-color: rgba(128, 128, 128, 0.6);
}

#title{
    margin: 0px;
}

#date{
    margin: 0px;
    font-size: 14px;
}

#writerimage{
    width: 40px;
    height: 40px;
    margin-left: auto;
}

.storyInfo{
    display: flex;
}

.bottom_menu{
    width: 100%;
    margin-top: 8px;
}

.bottom_menu ul{
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    list-style: none;
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-evenly;
}

.bottom_menu li{
    color: white;
    font-size: 16px;
    text-align: center;
    padding-block-start: 10px;
    padding-block-end: 10px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.bottom_menu li:hover:active{
    color: white;
}

.bottom_menu li:hover:not(.active){
    color: black;
}
